body{
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    text-align: center;
}

.btn{
    background-color: goldenrod;
    border: none;
    color: rgb(3, 126, 9);
    font-weight: bold;
    padding: 5px;
    width: 150px;
    border-radius: 2px;
    cursor: pointer;
}

.dis-btn{
    background-color: rgb(131, 131, 131);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px;
    width: 150px;
    border-radius: 2px;
    cursor: not-allowed;
    
}