body {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url(bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}

.counter {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 320px;
  padding: 20px;
  margin-top: 10%;
  border-radius: 20px;
}
.btn {
  width: 60%;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
}

.save-btn {
  background-color: #00a0d7;
}
.inc-btn {
  background-color: #f54197;
}
